@media screen and (max-width: 376px) {

.container {
    background-position: 130% 305%, -25% -225%;
}

.card-container {
    width: 85%;
    height: 48%;
}

.profile-info {
    padding-bottom: 2rem;
}
}